@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-green-primary: #4d9f33;
    --color-yellow-primary: #FFD65A;
    --color-orange-primary: #FF9D23;
    --color-red-primary: #F93827;
}

body {
    font-family: "Inter", sans-serif;
}